--- 
--- 

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR|Raleway');

h2 {
    font-family: 'Noto Serif KR', sans-serif;
    font-weight: 600;
}

body {
    font-family: 'Noto Serif KR', sans-serif;
    font-size: 17.5px;
}

section {
    float: left;
    width: 100%;
}

footer {
    position: inherit;
    float: none;
    width: 100%;
    font-size: 12px;
}

img {
    width: auto
}
